<!--<h1> {{ title }} </h1>

today is : <br/>
{{ date }}

<br/>
{{ somme + 2 }}
<br/>



<h3> NBR:  {{ employees.length }} </h3>
<ul>
  <li [style.background-color]=" emp.isnew ? 'blue' : 'red'  " *ngFor="let emp of employees " >
    <img [src]=" emp.avatar " alt="" class="avatar">
    <h3> <span [style.color]=" emp.isnew ? 'blue' : 'red'  ">{{ emp.fullname }}</span> 
      <span *ngIf="! emp.isnew "  >  
        <span *ngFor="let e of emp.exp ">{{e}}</span>  
      </span> </h3>
    <h6>{{ emp.phonenumber }} </h6>
  </li>
</ul>


<button [disabled]=" isDisabled ">CAN BE CLICKED</button>-->

<!--  this is a comment -->


<!--<nav>
  <a routerLink="/products">products</a>
  <a routerLink="/about">about</a>
  <a routerLink="/auth">auth</a>
  
  
</nav>

-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="shop" >My shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item " routerLinkActive="active" >
          <a class="nav-link" routerLink="shop" >Shop</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="cart">cart {{cart.getProductsLength()}} </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
