<!--<h1> {{ title }} </h1>

today is : <br/>
{{ date }}

<br/>
{{ somme + 2 }}
<br/>



<h3> NBR:  {{ employees.length }} </h3>
<ul>
  <li [style.background-color]=" emp.isnew ? 'blue' : 'red'  " *ngFor="let emp of employees " >
    <img [src]=" emp.avatar " alt="" class="avatar">
    <h3> <span [style.color]=" emp.isnew ? 'blue' : 'red'  ">{{ emp.fullname }}</span> 
      <span *ngIf="! emp.isnew "  >  
        <span *ngFor="let e of emp.exp ">{{e}}</span>  
      </span> </h3>
    <h6>{{ emp.phonenumber }} </h6>
  </li>
</ul>


<button [disabled]=" isDisabled ">CAN BE CLICKED</button>-->

<!--  this is a comment -->

<app-formidable></app-formidable>



